configuration {
    display-drun:			"Apps";
    display-window:			"Window";
    terminal:				"kitty";
    show-icons: true;

    font: "SF Pro Text 16";
	levenshtein-sort: true;
	sidebar-mode: true;
    lines: 15;
	matching: "fuzzy";
	combi-hide-mode-prefix: true;
	sidebar-mode: true;
	levenshtein-sort: true;
	drun-match-fields: "name,generic,exec,categories";

	columns: 1;

combi-modi: "drun,run,ssh";

	/*theme: "~/.config/rofi/denvit.rasi";*/
}
